<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Events für die Otto Wagner Dokumente.</title>
            <editor>Michaela Kutschera</editor>
         </titleStmt>
         <publicationStmt><p>Interne Verwendung</p></publicationStmt>
         <sourceDesc>
            <p>Promemoira_1876</p>
         </sourceDesc>
      </fileDesc>
      
      <encodingDesc>
         <listPrefixDef>
            <prefixDef ident="wd" matchPattern="(.+)" replacementPattern="https://www.wikidata.org/wiki/$1">
               <p>Verweist auf die Wikidata-Einträge mittels ihrer Q-ID.</p>
            </prefixDef>
         </listPrefixDef>
      </encodingDesc>
   </teiHeader>
  <text>
      <body>

         <listEvent>
            <event xml:id="e_wa_1873">
               <idno type="wd">Q871508</idno>
               <label>Weltausstellung Wien 1873</label>
               <note type="date">1873</note>
               <note type="place" target="orte.xml#o_wien">Wien</note>
               <note type="desc">Internationale Weltausstellung in Wien.</note>
            </event>
         </listEvent>
      </body>
  </text>
</TEI>
